<p class="tostaduria-coffee-title">
  Tostaduria
  <span class="tostaduria-coffee-title-go">Ver todo</span>
</p>
<div class="slide-coffe-tostaduria">
  <ul class="slide-coffe-tostaduria-list">
    <li>
      <a href="#">
        <img src="../../../../../assets/6.jpeg" alt="" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src="../../../../../assets/5.jpeg" alt="" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src="../../../../../assets/4.jpeg" alt="" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src="../../../../../assets/3.jpeg" alt="" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src="../../../../../assets/5.jpeg" alt="" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src="../../../../../assets/6.jpeg" alt="" />
      </a>
    </li>
  </ul>
</div>
