.tostaduria-coffee-title {
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: #0C2340;
    width: 100%;
    padding-left: 20px;

    .tostaduria-coffee-title-go {
        float: right;
        font-size: 12px;
        color: #0C2340;
        padding-right: 20px;
    }
}

.slide-coffe-tostaduria {
    width: 100%;
    float: left;
    overflow: auto;

    .slide-coffe-tostaduria-list {
        float: left;
        width: auto;
        height: 107px;
        padding-left: 20px;
        width: max-content;

        li {
            border-radius: 100%;
            overflow: hidden;
            margin: 5px 10px;
            float: left;
            width: 100px;
            height: 100px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:first-child {
                margin-left: 0px;
            }
        }
    }
}