<ul class="menu">
  <li>
    <a href="#">
      <span class="material-symbols-outlined icon-menu">home</span>
      <span class="text-menu">Inicio</span>
    </a>
  </li>

  <li>
    <a href="#">
      <span class="material-symbols-outlined icon-menu">search</span>
      <span class="text-menu">Buscar</span>
    </a>
  </li>

  <li>
    <a href="#">
      <span class="material-symbols-outlined icon-menu">map</span>
      <span class="text-menu">Mapa</span>
    </a>
  </li>

  <li>
    <a href="#">
      <span class="material-symbols-outlined icon-menu">person</span>
      <span class="text-menu">Perfil</span>
    </a>
  </li>
</ul>
