.menu {
    float: left;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgb(0 0 0 / 59%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    li {

        a {
            float: left;
            width: 100%;

            .icon-menu {
                font-size: 25px;
                color: #000;
                width: 100%;
                text-align: center;
            }

            .text-menu {
                font-size: 12px;
                color: #000;
                width: 100%;
                float: left;
                text-align: center;
            }
        }
    }
}