.region-cafeteria-list {
    float: left;
}

.special-coffee-title {
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: #0C2340;
    width: 100%;
    margin-bottom: 14px;
    padding: 0px 20px;

    .special-coffee-title-go {
        float: right;
        font-size: 12px;
        color: #0C2340;
    }
}

.region-cafeteria-list {
    float: left;
    width: 100%;

    li {
        float: left;
        margin-right: 10px;

        p {
            background-color: red;
            width: 100%;
        }
    }
}