<!-- <p class="special-coffee-title">
  Cafetería especial
  <a href="#" routerLink="/lista-cafeteria"
    ><span class="special-coffee-title-go">Ver todo</span></a
  >
</p>
<div class="slide-coffe-special">
  <ul class="region-cafeteria-list">
    <li>
      <a href="#" routerLink="/cafeteria">
        <p>concepcion</p>
      </a>
    </li>
    <li>
      <a href="#" routerLink="/cafeteria">
        <p>oncepcion</p>
      </a>
    </li>
    <li>
      <a href="#" routerLink="/cafeteria">
        <p>oncepcion</p>
      </a>
    </li>
    <li>
      <a href="#" routerLink="/cafeteria">
        <p>oncepcion</p>
      </a>
    </li>
    <li>
      <a href="#" routerLink="/cafeteria">
        <p>oncepcion</p>
      </a>
    </li>
    <li>
      <a href="#" routerLink="/cafeteria">
        <p>oncepcion</p>
      </a>
    </li>
  </ul>
</div> -->
