<div class="home-component">
  <h1 class="titulo-de-bienvenida">Buenos días <span>tu cafe esta listo!</span></h1>
  <div class="search-bar-component">
    <search-bar></search-bar>
  </div>
  <!-- <div class="special-coffee-component">
    <region-cafeteria></region-cafeteria>
  </div> -->
  <div class="cafeterias-importantes-component">
    <div class="filter-category-component">
      <filter-category></filter-category>
    </div>
    <div class="special-coffee-component">
      <special-coffee></special-coffee>
    </div>
    <div class="show-all-cafeteria-component">
      <a routerLink="/lista-cafeteria" class="show-all-cafeteria"
        >Ver todas las cafeterias <span class="material-symbols-outlined"> arrow_forward </span></a
      >
    </div>
  </div>

  <div class="place-experience-component">
    <place-experience></place-experience>
  </div>
  <div class="tostaduria-component">
    <tostaduria></tostaduria>
  </div>
  <div class="baristas-component">
    <baristas></baristas>
  </div>
</div>
<div class="background-home"></div>
