<div class="search-bar">
  <!-- <span class="ubicacion-text">Garcia Hurtado de Mendoza, Concepción, Biobío</span> -->
  <div class="biobio-search-component">
    <div class="location-select-wrapper">
      <span class="material-symbols-rounded location-icon">location_on</span>

      <select class="native-input" name="comuna" id="comuna">
        <option value="" disabled selected>Comunas</option>

        <option value="concepcion">Concepción</option>
        <option value="talcahuano">Talcahuano</option>
        <option value="san_pedro">San Pedro de la Paz</option>
        <option value="chiguayante">Chiguayante</option>
        <option value="hualpen">Hualpén</option>
      </select>

      <span class="material-symbols-rounded chevron-icon">expand_more</span>
    </div>
  </div>
</div>
