<div class="baristas">
  <ul class="baristas-list">
    <li>
      <article class="card-barista">
        <img src="../../../../../assets/barista1.jpeg" alt="" class="barista-img" />
        <h2>Nicolas E.</h2>
        <p>Barista profesional</p>
        <span>
          <img src="../../../../../assets/instagram.png" alt="" class="instagram-icon" />
          @caffeteriacoffee
        </span>
      </article>
    </li>
    <li>
      <article class="card-barista">
        <img src="../../../../../assets/barista2.jpeg" alt="" class="barista-img" />
        <h2>Nicolas E.</h2>
        <p>Barista profesional</p>
        <span>
          <img src="../../../../../assets/instagram.png" alt="" class="instagram-icon" />
          @caffeteriacoffee
        </span>
      </article>
    </li>
    <li>
      <article class="card-barista">
        <img src="../../../../../assets/barista4.jpeg" alt="" class="barista-img" />
        <h2>Nicolas E.</h2>
        <p>Barista profesional</p>
        <span>
          <img src="../../../../../assets/instagram.png" alt="" class="instagram-icon" />
          @caffeteriacoffee
        </span>
      </article>
    </li>
    <li>
      <article class="card-barista">
        <img src="../../../../../assets/barista1.jpeg" alt="" class="barista-img" />
        <h2>Nicolas E.</h2>
        <p>Barista profesional</p>
        <span>
          <img src="../../../../../assets/instagram.png" alt="" class="instagram-icon" />
          @caffeteriacoffee
        </span>
      </article>
    </li>
    <li>
      <article class="card-barista">
        <img src="../../../../../assets/barista2.jpeg" alt="" class="barista-img" />
        <h2>Nicolas E.</h2>
        <p>Barista profesional</p>
        <span>
          <img src="../../../../../assets/instagram.png" alt="" class="instagram-icon" />
          @caffeteriacoffee
        </span>
      </article>
    </li>
    <li>
      <article class="card-barista">
        <img src="../../../../../assets/barista4.jpeg" alt="" class="barista-img" />
        <h2>Nicolas E.</h2>
        <p>Barista profesional</p>
        <span>
          <img src="../../../../../assets/instagram.png" alt="" class="instagram-icon" />
          @caffeteriacoffee
        </span>
      </article>
    </li>
  </ul>
</div>
