<section class="special-coffee-section">
  <div class="section-header">
    <h3 class="title">Cafetería especial</h3>
    <a routerLink="/lista-cafeteria" class="view-all">Ver todo</a>
  </div>

  <div class="scroll-container">
    <a routerLink="/cafeteria" class="circle-item">
      <img src="assets/1.jpeg" alt="Cafetería Especial" loading="lazy" />
    </a>

    <a routerLink="/cafeteria" class="circle-item">
      <img src="assets/2.jpeg" alt="Cafetería Especial" loading="lazy" />
    </a>

    <a routerLink="/cafeteria" class="circle-item">
      <img src="assets/3.jpeg" alt="Cafetería Especial" loading="lazy" />
    </a>

    <a routerLink="/cafeteria" class="circle-item">
      <img src="assets/4.jpeg" alt="Cafetería Especial" loading="lazy" />
    </a>
    <a routerLink="/cafeteria" class="circle-item">
      <img src="assets/1.jpeg" alt="Cafetería Especial" loading="lazy" />
    </a>

    <a routerLink="/cafeteria" class="circle-item">
      <img src="assets/2.jpeg" alt="Cafetería Especial" loading="lazy" />
    </a>

    <a routerLink="/cafeteria" class="circle-item">
      <img src="assets/3.jpeg" alt="Cafetería Especial" loading="lazy" />
    </a>

    <a routerLink="/cafeteria" class="circle-item">
      <img src="assets/4.jpeg" alt="Cafetería Especial" loading="lazy" />
    </a>
  </div>
</section>
