<section class="experiences-section">
  <h3 class="section-title">CAFÉ Y EXPERIENCIAS ÚNICAS</h3>

  <div class="experiences-scroll">
    <a routerLink="/experiencias/tematicos" class="experience-card">
      <img
        src="https://images.unsplash.com/photo-1554118811-1e0d58224f24?q=80&w=400"
        alt="Café minimalista"
        class="card-bg"
      />

      <div class="card-overlay">
        <span class="card-text">Cafés Temáticos</span>
      </div>
    </a>

    <a routerLink="/experiencias/nocturna" class="experience-card">
      <img
        src="https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?q=80&w=400"
        alt="Café oscuro"
        class="card-bg"
      />

      <div class="card-overlay">
        <span class="card-text">Experiencia Nocturna</span>
      </div>
    </a>

    <a routerLink="/experiencias/cata" class="experience-card">
      <img
        src="https://images.unsplash.com/photo-1497935586351-b67a49e012bf?q=80&w=400"
        alt="Cata de café"
        class="card-bg"
      />

      <div class="card-overlay">
        <span class="card-text">Cata & Origen</span>
      </div>
    </a>
  </div>
</section>
