<ul class="place-experience__list">
  <li class="place-experience__list__item">
    <p class="place-experience__list__item__banner">
      <span class="place-experience__list__item__banner__content">
        <span class="place-experience__list__item__banner__icon">Limited time!</span>
        <span class="place-experience__list__item__banner__text">Experience the best coffee</span>
        <a href="#" class="place-experience__list__item__banner__link">Shop now</a>
      </span>
    </p>
    <figure class="img-wrapper">
      <img src="../../../../../assets/banner1.png" alt="Café de especialidad" loading="lazy" />
    </figure>
  </li>
  <li class="place-experience__list__item">
    <p class="place-experience__list__item__banner">
      <span class="place-experience__list__item__banner__content">
        <span class="place-experience__list__item__banner__icon">Limited time!</span>
        <span class="place-experience__list__item__banner__text">Experience the best coffee</span>
        <a href="#" class="place-experience__list__item__banner__link">Shop now</a>
      </span>
    </p>
    <figure class="img-wrapper">
      <img src="../../../../../assets/banner2.png" alt="Café de especialidad" loading="lazy" />
    </figure>
  </li>
  <li class="place-experience__list__item">
    <p class="place-experience__list__item__banner">
      <span class="place-experience__list__item__banner__content">
        <span class="place-experience__list__item__banner__icon">Limited time!</span>
        <span class="place-experience__list__item__banner__text">Experience the best coffee</span>
        <a href="#" class="place-experience__list__item__banner__link">Shop now</a>
      </span>
    </p>
    <figure class="img-wrapper">
      <img src="../../../../../assets/banner3.png" alt="Café de especialidad" loading="lazy" />
    </figure>
  </li>
</ul>
