.place-experience__list {
    float: left;
    width: 100%;
    width: max-content;

    &__item {
        position: relative;
        float: left;
        width: 280px;
        background-color: #fff;
        border-radius: 6px;
        overflow: hidden;
        margin-right: 30px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

        &__banner {
            float: left;
            width: 63%;
            border-radius: 5px;
            position: relative;

            &__icon {
                background-color: #f6f1ec;
                padding: 3px 12px;
                float: left;
                width: auto;
                color: #413c3a;
                border-radius: 5px;
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            &__text {
                float: left;
                width: 100%;
                color: #413c3a;
                font-size: 20px;
                font-weight: bold;
                padding-top: 10px;
                line-height: 24px;
                text-align: left;
            }

            &__content {
                padding: 13px;
                float: left;
                width: 100%;
                min-height: 177px;
            }

            &__link {
                background-color: rgba(12, 35, 64, 0.8509803922);
                padding: 6px 20px;
                float: left;
                width: auto;
                color: #FFF;
                border-radius: 5px;
                font-size: 10px;
                font-weight: 600;
                position: absolute;
                bottom: 10px;
                left: 10px;
            }
        }
    }
}

// Estilos del Contenedor de Imagen (Derecha)
.img-wrapper {
    width: 37%;
    margin: 0;
    position: relative;
    float: left;
    overflow: hidden;
    height: 177px;

    // AQUÍ ESTA LA MAGIA
    img {
        width: 111px;
        height: 177px;
        object-fit: cover;
        object-position: left;
        display: block;
        position: absolute;
    }
}