.category-list{
    float: left;
    width: max-content;
    list-style: none;
    position: relative;
    li{
        overflow: hidden;
        background-color: #d1d8e3;
        margin-left: 30px;
        float: left;
        height: 68px;
        width: 68px;
        text-align: center;
        vertical-align: middle;
        padding-top: 14px;
        border-radius: 11px;
         &:first-child{
            margin-left: 0px;
        }
    }
}
.icon-base{
    font-size: 35px;
    color: #0c2340;
}