<ul class="category-list">
  <li>
    <a href="#">
      <span class="material-symbols-outlined icon-base"> pets </span>
    </a>
  </li>
  <li>
    <a href="#">
      <span class="material-symbols-outlined icon-base"> music_note_2 </span>
    </a>
  </li>
  <li>
    <a href="#">
      <span class="material-symbols-outlined icon-base"> sports_esports </span>
    </a>
  </li>
  <li>
    <a href="#">
      <span class="material-symbols-outlined icon-base"> pets </span>
    </a>
  </li>
  <li>
    <a href="#">
      <span class="material-symbols-outlined icon-base"> pets </span>
    </a>
  </li>
  <li>
    <a href="#">
      <span class="material-symbols-outlined icon-base"> music_note_2 </span>
    </a>
  </li>
  <li>
    <a href="#">
      <span class="material-symbols-outlined icon-base"> sports_esports </span>
    </a>
  </li>
  <li>
    <a href="#">
      <span class="material-symbols-outlined icon-base"> pets </span>
    </a>
  </li>
</ul>
